
  form.create-form {
   
    background-color: black;
    border-radius: 10px;
    position: relative;
    padding: 20px 20px 0px 20px;
    width: 420px;
    margin: 0 auto;
    min-height: 830px;
    height: auto;
  }

  .btn.create-form-btn{
    width: 20%;
    left: 40%;
    position: absolute;
    margin-bottom: -10%;
    bottom: 11%;
  }

  form.create-form input {
    margin-bottom: 9%;
  }

  .error {
    margin-top: -8%;
    margin-bottom: 4%;
  }

  h1.create-title {
    margin-top: 25px;
  }