.home {
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    color: whitesmoke;
    min-height: 800px;
    padding: 20px;
    padding-left: 95px;
    padding-right: 95px;
    height: auto;
    width: 37%;
    justify-content: center;
    margin: 50px 525px 100px;
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .dietDayHome:nth-child(3n+2) {
    margin-left: 95px;
} */

.dietDayHome {

    width: 190px;
    margin: 20px;
    padding: 40px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    border-radius: 15px;
    float: left;
    height: auto;
    background-color: whitesmoke;
    color: black;
    text-decoration: solid;
}
