/* body {
    background-color: yellow;
}

.auth {
    width: 100px;
    margin: 8em auto;
}

header,
footer {
    background-color: black;
    width: 110%;
    overflow: hidden;
    color: white;
}

.home {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    padding: 10px;
}

header a img{
    display: inline-block;
    background-color: #29303c;
    margin-bottom: auto;
    width: 115px;
    height: auto;
    z-index: 1;
}

header nav {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    right: 0;
    bottom: 8px;
}

header nav>* {
    float: left;
}

footer {
    padding: 0.5em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

nav a {
    margin: 0 0.5em;
    color: yellow;
}

nav a:hover {
    cursor: pointer;
    color: rgb(82, 133, 139);
    font-weight: bolder;
}

.home:hover {
    color: rgb(82, 133, 139);
}

#user,
#guest {
    margin: 0;
    padding: 0;
} */

nav {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav .logo {
    height: 50px;
  }
  
  nav .logo img {
    height: 100%;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    color: whitesmoke;
  }
  